* {
margin : 0;
padding : 0;
box-sizing:border-box;
color: #fff;
}

body{
    background-color: black;
}

h1,h2,h5{
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    color: #000;
    background-color: #ddd;
}

main{
    background-color: aquamarine;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    color: #000;
    width: 100%;
    background-color: #ddd;
    text-align: center;
}